body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
}

header h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.add-task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-task-form input[type='text'] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.add-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #218838;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.task-item span {
  font-size: 16px;
  color: #333;
}

.task-content {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}
@media (max-width: 500px) {
  .add-task-form {
    flex-direction: column;
  }

  .add-task-form input[type='text'] {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .task-item {
    flex-direction: column;
    align-items: stretch;
  }

  .task-title {
    width: 100%;
  }

  .task-actions {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .task-actions button {
    width: auto;
  }
}

.task-title {
  flex: 1;
  font-size: 16px;
  color: #333;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.task-title[contenteditable='true'] {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.save-button {
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.save-button:hover {
  background-color: #138496;
}
